<!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <!--<li class="user-details cyan darken-2">
                    <div class="row">
                        <div class="col col s4 m4 l4">
                            <img src="theme/images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                        </div>
                        <div class="col col s8 m8 l8">
                            <ul id="profile-dropdown" class="dropdown-content profileDropdown" ng-class="{active : toggleViewItems.profileDropdown}">
                                <li><a href="#/profile"><i class="mdi-maps-local-library"></i> Profile</a>
                                </li>
                                <li><a href="#/caretaker"><i class="mdi-action-face-unlock"></i> Caretaker</a>
                                </li>
                                <li><a href="#/help"><i class="mdi-communication-live-help"></i> Help</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="javascript:;" ng-click="logout()"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                </li>
                            </ul>
                            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn profileDropdown" href="javascript:;" ng-click="toggleView('profileDropdown')">{{user.name || 'My Name'}}<i class="mdi-navigation-arrow-drop-down right"></i></a>
                            <p class="user-roal">{{user.role || 'My Role'}}</p>
                        </div>
                    </div>
                    </li>-->
                    <li class="bold" ng-class="isNavActive('home','default')"><a href="#/admin" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="bold" ng-class="isNavActive('myOrders')"><a href="#/myOrders" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> My Orders</a>
                    </li>
                    <!--<li class="bold" ng-class="isNavActive('chatwithcaretaker')"><a class="waves-effect waves-cyan" href="#/chatwithcaretaker"><i class="mdi-communication-chat"></i> Chat with Caretaker</a>
                    </li>
                    <li class="bold" ng-class="isNavActive('affirmation')"><a href="#/affirmation" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Affirmation </a>
                    </li>
                    <li class="bold" ng-class="isNavActive('guidedmeditation')"><a href="#/guidedmeditation" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Guided Meditation</a>
                    </li>
                    <li class="bold" ng-class="isNavActive('experts')"><a href="#/experts" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Experts</a>
                    </li>
                    <li class="bold" ng-class="isNavActive('products')"><a href="#/products" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Products</a>
                    </li>
                    <li class="bold" ng-class="isNavActive('services')"><a href="#/services" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Services</a>-->
                    </li>
                
                </ul>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->