            <section id="content" ng-init="init()">

                
                <div class="container custom-table" ng-show="!orderDetailView">
                    <div class="row">
                        <div class="col s12 m6 l12">
                             <p>Order Received</p>   
                            <div class="filter">
                            	<label>Filter by:</label>
                            	<select style="display:block" class="filter-select">
                                  <option value="all">All</option>
                                  <option value="pending">Order Pending </option>
                                  <option value="processing">Order Processing</option>
                                  <option value="completed">Order Completed</option>
                                  <option value="delivered">Order Delivered</option>
                        		</select> 
                            </div>
                        </div>
                    </div>
                    
                    <div>
                      <table class="table table-condensed order-table" >
                        <thead>
                          <tr>
                            <th>Image</th>
                            <th>Item Description</th>
                            <th>Order ID</th>
                            <th>Member name/email</th>
                            <th>Member Contact</th>
                            <th>Order Date</th>
                            <th>Order Total</th>
                            <th>Order Status</th>
                            <th class="cta-head"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="order in cakeOrders">
                            <td><img ng-src="{{'/cakeapp/images/'+ order.image}}" width="50px" /></td>
                            <td>{{order.description}}</td>
                            <td>{{order.orderId}}</td>
                            <td>{{order.memberName}} <br /> {{order.memberMail}} </td>
                            <td>{{order.memberContact}}</td>
                            <td>{{order.orderDate}}</td>
                            <td>{{order.total}}</td>
                            <td><span class="{{order.status}}">{{order.status}}</span></td>
                            <td><a href="javascript:void(0)" class="btn btn-xs btn-success" ng-click="toggleOrderDetails(order.orderId)">View Order</a></td>
                          </tr>
                        </tbody>
                      </table>
                          
                    </div>
                    <div class="row">

                      
                    </div>
                </div>
                
                
                <div class="container custom-cake-detail" ng-show="orderDetailView">
                    
                    <div class="row">
                        <div class="col s12 m6 l12">
                            <button class="btn waves-effect waves-light right" ng-click="toggleOrderDetails()" type="submit" name="action">Back to Order table
                                <i class="mdi-content-send right"></i>
                            </button>
                        </div>
                    </div>
                   
                    <div class="row">
                      <h1>Your Order Details</h1>
                    </div>
                     <div class="preview-ck">
                     <div class="orderID">Order ID: ck10342</div>
                    <div ng-repeat="details in cakeDetails" >
                    <div class="image-prev">
                      <img ng-src="{{'/cakeapp/images/'+details.image}}" />
                    </div>
                    <div class="prev-textr">
                      <h2 class="cake-title">{{details.Property}} : {{details.name}}</h2>
                      <span ng-show="details.serving">Serves : {{details.serving}}</span>
                    </div>
                      
                    </div>
                    
                    <div class="row" style="position:relative">
                      <ul id="dropdown1" class="dropdown-content" >
                        <li><a href="" class="-text" ng-click="changeStatus('pending')">Pending</a>
                        </li>
                        <li><a href="" class="-text"ng-click="changeStatus('completed')">Completed</a>
                        </li>
                        <li><a href="" class="-text" ng-click="changeStatus('delivered')">Delivered</a>
                        </li>
                      </ul>
                      <a class="btn dropdown-button waves-effect waves-light cta" href="#" data-activates="dropdown1">{{selectedOrder.status}}<i class="mdi-navigation-arrow-drop-down right"></i></a>
                    </div>
                    </div>
                

                
                
                <div id="modal1" class="modal">
                  <div class="modal-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Disagree</a>
                    <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Agree</a>
                  </div>
                </div>
                
                </div>
                    
                    
            </section>
            <!-- END CONTENT -->