<section id="login-page" class="row login-form-holder" ng-init="init()">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form" name="change_Pin" role="form" novalidate angular-validator angular-validator-submit="changePin(change_Pin)">
        <div class="row">
          <div class="input-field col s12 center">
            <h4>Change Secure Pin</h4>
            <p class="center">You can change your pin</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="username" type="email" name="email" required ng-model="email"/>
            <label for="username" class="center-align">Email</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password" name="pin" required ng-model="pin" />
            <label for="password">Secure Pin</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light col s12">Reset Secure Pin</button>
          </div>
          <div class="input-field col s12">
            <p class="margin sign-up"><a href="#/login">Login</a> <a href="#/register" class="right">Register</a></p>
          </div>
        </div>
      </form>
    </div>
</section>
