<section id="login-page" class="row login-form-holder" ng-init="init()" ng-controller="loginController">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form" name="login" role="form" novalidate angular-validator angular-validator-submit="submit(login)">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="theme/images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">xPander</p>
          </div>
        </div>
        <div id="card-alert" class="card cyan" ng-show="loginInfo">
          <div class="card-content white-text">
            <p ng-bind="loginInfo"></p>
          </div>
          <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close" ng-click="loginInfo=''">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-communication-email prefix"></i>
            <input id="username" type="text" required name="email" ng-model="email" />
            <label for="username" class="center-align">Email</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password" required name="securePin" ng-model="securePin" />
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">          
          <div class="input-field col s12 m12 l12  login-text">
              <input type="checkbox" id="remember-me" ng-model="rememberMe"/>
              <label for="remember-me">Remember me</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light col s12">Login</button>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="#/register">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="#/forget-pin">Forgot password ?</a></p>
          </div>          
        </div>

      </form>
    </div>
</section>
