            <section id="content" ng-init="init()">

                <!--start container-->
                <div class="container custom-container" ng-show="!customCakeOrderScreen">
                    <div class="card-widgets">
                        
                        <div class="row">
                            <div class="col s12 m6 l12">
                                <button class="btn waves-effect waves-light right" ng-click="toggleCustomCakeWidget()" type="submit" name="action">Customize Your Own Cake
                                    <i class="mdi-content-send right"></i>
                                </button>
                            </div>
                        </div>
                        
                        <div class="row">
                             
                            <div class="col s12 m6 l4">
                                <div id="profile-card" class="card ccard">
                                    
                                    <div class="card-image waves-effect waves-block waves-light activator">
                                        <img class="activator" src="/CakeApp/images/sc_cake_decor_batman.png" alt="user background">
                                        <a href="javascript:void(0)" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
                                    </div>
                                    
                                    <div class="card-content">
                                        
                                        <a class="btn-floating waves-effect waves-light light-blue btn-move-up right">
                                            <i class="mdi-action-info activator"></i>
                                        </a>
                                        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                                            <i class="mdi-action-favorite"></i>
                                        </a>
                                        
                                        
                                        <span class="card-title activator grey-text text-darken-4">Birthday Cake</span>

                                    </div>
                                    
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Birthday Cake <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this card.</p>
                                        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Flavor : chocolate</p>
                                        <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> Icing : Chocolate</p>
                                        <p><i class="mdi-communication-email cyan-text text-darken-2"></i> Border : bead</p>
                                        <p><i class="mdi-social-cake cyan-text text-darken-2"></i> Caories per 100gm : 500KCals</p>
                                        <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> Cake</p>
                                    </div>
                                </div>
                            </div>

                                    
                            <div class="col s12 m6 l4">
                                <div id="profile-card" class="card ccard">
                                    
                                    <div class="card-image waves-effect waves-block waves-light activator">
                                        <img class="activator" src="/CakeApp/images/sc_cake_decor_hellokitty.png" alt="user background">
                                        <a href="javascript:void(0)" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$389</a>
                                    </div>
                                    
                                    <div class="card-content">
                                        
                                        <a class="btn-floating waves-effect waves-light light-blue btn-move-up right">
                                            <i class="mdi-action-info activator"></i>
                                        </a>
                                        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                                            <i class="mdi-action-favorite"></i>
                                        </a>
                                        
                                        
                                        <span class="card-title activator grey-text text-darken-4">Birthday Cake</span>

                                    </div>
                                    
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Birthday Cake <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this card.</p>
                                        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Flavor : chocolate</p>
                                        <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> Icing : Chocolate</p>
                                        <p><i class="mdi-communication-email cyan-text text-darken-2"></i> Border : bead</p>
                                        <p><i class="mdi-social-cake cyan-text text-darken-2"></i> Caories per 100gm : 500KCals</p>
                                        <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> Cake</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l4">
                                <div id="profile-card" class="card ccard">
                                    
                                    <div class="card-image waves-effect waves-block waves-light activator">
                                        <img class="activator" src="/CakeApp/images/sc_cake_decor_sesamestreet.png" alt="user background">
                                        <a href="javascript:void(0)" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$102</a>
                                    </div>
                                    
                                    <div class="card-content">
                                        
                                        <a class="btn-floating waves-effect waves-light light-blue btn-move-up right">
                                            <i class="mdi-action-info activator"></i>
                                        </a>
                                        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                                            <i class="mdi-action-favorite"></i>
                                        </a>
                                        
                                        
                                        <span class="card-title activator grey-text text-darken-4">Birthday Cake</span>

                                    </div>
                                    
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Birthday Cake <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this card.</p>
                                        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Flavor : chocolate</p>
                                        <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> Icing : Chocolate</p>
                                        <p><i class="mdi-communication-email cyan-text text-darken-2"></i> Border : bead</p>
                                        <p><i class="mdi-social-cake cyan-text text-darken-2"></i> Caories per 100gm : 500KCals</p>
                                        <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> Cake</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l4">
                                <div id="profile-card" class="card ccard">
                                    
                                    <div class="card-image waves-effect waves-block waves-light activator">
                                        <img class="activator" src="/CakeApp/images/sc_cake_decor_starwars1.png" alt="user background">
                                        <a href="javascript:void(0)" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$220</a>
                                    </div>
                                    
                                    <div class="card-content">
                                        
                                        <a class="btn-floating waves-effect waves-light light-blue btn-move-up right">
                                            <i class="mdi-action-info activator"></i>
                                        </a>
                                        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                                            <i class="mdi-action-favorite"></i>
                                        </a>
                                        
                                        
                                        <span class="card-title activator grey-text text-darken-4">Birthday Cake</span>

                                    </div>
                                    
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Birthday Cake <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this card.</p>
                                        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Flavor : chocolate</p>
                                        <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> Icing : Chocolate</p>
                                        <p><i class="mdi-communication-email cyan-text text-darken-2"></i> Border : bead</p>
                                        <p><i class="mdi-social-cake cyan-text text-darken-2"></i> Caories per 100gm : 500KCals</p>
                                        <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> Cake</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l4">
                                <div id="profile-card" class="card ccard">
                                    
                                    <div class="card-image waves-effect waves-block waves-light activator">
                                        <img class="activator" src="/CakeApp/images/sc_cake_decor_starwars2.png" alt="user background">
                                        <a href="javascript:void(0)" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$184</a>
                                    </div>
                                    
                                    <div class="card-content">
                                        
                                        <a class="btn-floating waves-effect waves-light light-blue btn-move-up right">
                                            <i class="mdi-action-info activator"></i>
                                        </a>
                                        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                                            <i class="mdi-action-favorite"></i>
                                        </a>
                                        
                                        
                                        <span class="card-title activator grey-text text-darken-4">Birthday Cake</span>

                                    </div>
                                    
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Birthday Cake <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this card.</p>
                                        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Flavor : chocolate</p>
                                        <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> Icing : Chocolate</p>
                                        <p><i class="mdi-communication-email cyan-text text-darken-2"></i> Border : bead</p>
                                        <p><i class="mdi-social-cake cyan-text text-darken-2"></i> Caories per 100gm : 500KCals</p>
                                        <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> Cake</p>
                                    </div>
                                </div>
                            </div>

                                
                           </div>        
                        </div>
                    </div>
                    
                
                <div class="container custom-container" ng-show="customCakeOrderScreen">
                    <div class="card-widgets">
                        
                        <div class="row">
                            <div class="col s12 m6 l12">
                                <button class="btn waves-effect waves-light right" ng-click="toggleCustomCakeWidget()" type="submit" name="action">Back to Signature Cakes
                                    <i class="mdi-content-send right"></i>
                                </button>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col s12 m6 l12">
                            	
                                    <div class="widget-placeholder clearfix">
                                        <div class="section-1">

                                            <div class="progress">
                                                <ul>
                                                    <li class="{{step1Active}}">
                                                        <span class="steps-wz">1</span>
                                                        <span>SHAPE, SIZE & Type</span>
                                                    </li>
                                                    <li class="{{step2Active}}">
                                                        <span class="steps-wz">2</span>
                                                        <span>FLAVOURS</span>
                                                    </li>
                                                    <li class="{{step3Active}}">
                                                        <span class="steps-wz">3</span>
                                                        <span>DECORATION</span>
                                                    </li>
                                                    <li class="{{step4Active}}">
                                                        <span class="steps-wz">4</span>
                                                        <span>CONFIRM</span>
                                                    </li>
                                                    <li class="{{step5Active}}">
                                                        <span class="steps-wz">5</span>
                                                        <span>PREVIEW</span>
                                                    </li>
                                                </ul>

                                            </div>

                                            <div class="box-typ9">

                                            <!--<h2 class="hd-typ2">Customize your Cake</h2>-->

                                            <div class="step1-content" ng-show="visibleContent === 'step1-content'">
                                                <div class="cs-001">
                                                    <h2 class="hd-typ2">Select your shape of cake</h2>
                                                    <a id="" ng-repeat="shape in cakeSpec.shapes" class="{{'wiz-img js-select-shape ' + shape.image + ' ' + shape.selected}}" ng-click="selectShape(shape)" href="javascript:;">
                                                        <span class="img">&nbsp;</span>
                                                        <span class="name">{{shape.name}}</span>
                                                    </a>
                                                </div>
                                                <div class="disable-cakeType">
                                                    <div class="box-typ9 pd15 clearfix">
                                                        <h2 class="hd-typ2 js-cake-type f-gray1">Select your type of cake</h2>
                                                        <div class="type-cake">
                                                            <a href="javascript:void(0)" ng-repeat="type in cakeSpec.types" class="{{'js-select-type activeclass ' + type.selected}}" ng-click="selectType(type)">{{type.name}}</a>
                                                            
                                                        </div>
        
                                                    </div>
                                                </div>

                                            <div class="disable-cakeType">
                                                <div class="box-typ9 pd15">
                                                    <h2 class="hd-typ2 js-cake-serve f-gray1">How many people do you need to serve? What size cake do you need?</h2>
                                                    <div class="cs-001 serve-cake">
                                                        
                                                        <a href="javascript:;" ng-repeat="size in cakeSpec.sizes" class="{{'wiz-img img-size ' + size.image + ' ' + size.selected}}" ng-click="selectSize(size)">
                                                            <span class="img">&nbsp;</span> 
                                                            <span class="name">{{size.inch}}<br> {{size.portion}}</span>
                                                        </a>
                                                        <div class="inline-notification">A {{selectedSpec.size.inch}} cake will serve about {{selectedSpec.size.portion}} </div>
                                                    </div>
    
                                                </div>  
                                            </div>
                                            
                                            <div class="btn-bar box-typ13 custom-footer-btn">
                                                <input type="button" ng-click="showContent('step2-content')" class="btn2 wiz-nextbtn" name="Next">
                                            </div>
                                            
                                    </div>
                                            <!-- Step 2 starts here -->
                                    <div class="step2-content" ng-show="visibleContent === 'step2-content'">
                                                <div class="disable-cakeType">
                                                    <div class="box-typ9 pd15 clearfix">
                                                        <h2 class="hd-typ2 f-gray1">Do you want vanilla or chocolate sponge?</h2>
                                                        <div class="type-cake">
                                                            <a class="active" href="javascript:;">VANILLA</a>
                                                            <a class="" href="javascript:;">CHOCOLATE</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="disable-cakeType">
                                                    <div class="box-typ9 pd15 clearfix">
                                                        <h2 class="hd-typ2 f-gray1">What filling do you want inside your cake?</h2>
                                                        <div class="cs-001">
                                                            <a href="javascript:;" class="wiz-img img-size s1 select-shape" id="csh_9">
                                                                <span class="img">&nbsp;</span>
                                                                <span class="name">White Fresh Cream</span>
                                                            </a>
                                                            <a href="javascript:;" class="wiz-img img-size s2" id="">
                                                                <span class="img">&nbsp;</span>
                                                                <span class="name">Mixed Fruit Jam</span>
                                                            </a>
                                                            <a href="javascript:;" class="wiz-img img-size s2" id="">
                                                                <span class="img">&nbsp;</span>
                                                                <span class="name">Cocktail Fruit</span>
                                                            </a>
                                                    </div>
                                                    </div>
                                                </div>

                                         <div class="disable-cakeType">
                                             <div class="box-typ9 pd15 clearfix">
                                                <h2 class="hd-typ2 f-gray1">Select the topping for the cake</h2>
                                                <div class="cs-001">
                                                    <a href="javascript:;" class="wiz-img img-size s1 select-shape" id="csh_9">
                                                        <span class="img">&nbsp;</span>
                                                        <span class="name">Mixed Fruits</span>
                                                    </a>
                                                    <a href="javascript:;" class="wiz-img img-size s2" id="">
                                                        <span class="img">&nbsp;</span>
                                                        <span class="name">Mixed Choc Decoration</span>
                                                    </a>
                                                    <a href="javascript:;" class="wiz-img img-size s2" id="">
                                                        <span class="img">&nbsp;</span>
                                                        <span class="name">Coloured Sprinkle</span>
                                                    </a>
                                                     <a href="javascript:;" class="wiz-img img-size s2" id="">
                                                        <span class="img">&nbsp;</span>
                                                        <span class="name">Specific Fresh Fruits</span>
                                                    </a>
                                            </div>

                                        </div>
                                         </div>        
                                         
                                         <div class="btn-bar box-typ13 custom-footer-btn">
                                                <input type="button" ng-click="showContent('step3-content')" class="btn2 wiz-nextbtn" name="Next">
                                            </div>
                                            
                                            
                                    </div>
                                        <!-- Step 2 Ends Here -->

                                    <div class="step3-content" ng-show="visibleContent === 'step3-content'">
                                        <!-- Step 3 Starts Here -->
                                             <div class="disable-cakeType">
                                                    <div class="box-typ9 pd15 clearfix">
                                                        <h2 class="hd-typ2 f-gray1">What decoration would you like around the cake?</h2>
                                                        <div class="cs-001">
                                                            <a href="javascript:;" class="wiz-img img-size s1 select-shape" id="csh_9">
                                                                <span class="img">&nbsp;</span>
                                                                <span class="name">Bead Border<br /><span>($5.00 extra)</span></span>
                                                            </a>
                                                            <a href="javascript:;" class="wiz-img img-size s2" id="">
                                                                <span class="img">&nbsp;</span>
                                                                <span class="name">Shell Border<br /><span>($5.00 extra)</span></span>
                                                            </a>
                                                            <a href="javascript:;" class="wiz-img img-size s2" id="">
                                                                <span class="img">&nbsp;</span>
                                                                <span class="name">Rosette Border<br /><span>(No extra charge)</span></span>
                                                            </a>
                                                            <a href="javascript:;" class="wiz-img img-size s2" id="">
                                                                <span class="img">&nbsp;</span>
                                                                <span class="name">No Border</span>
                                                            </a>
                                                    </div>
                                                    </div>
                                                </div>  

                                                  <div class="disable-cakeType">
                                                    <div class="box-typ9 pd15 clearfix">
                                                        <h2 class="hd-typ2 f-gray1">Would you like to add a message onto the cake?</h2>
                                                        <div class="mrg10-T">Type the message
                                                             <input onblur="javascript:assignvalue(2);" onfocus="javascript:removevalue(2);" class="txtbox" value="Max 30 characters" onkeypress="javascript:return showKeyValue(event,2);" autocomplete="off" name="txtMessage" id="txtMessage" maxlength="45">
                                                         
                                                        <input type="button" onclick="setMessage()" name="" value="ADD" class="addbtn btn3">
                                                        <input type="button" name="" value="CLEAR" class="btn3 clearbtn" onclick="ClearCakeMessage()" id="btnClear">
                                                        <input type="hidden" value="" id="hdnCakeMessage" name="hdnCakeMessage">
                                                     </div>
                                                    </div>
                                                </div>
                                             <div class="disable-cakeType">
                                                    <div class="box-typ9 pd15 clearfix">
                                                        <h2 class="hd-typ2 f-gray1">Select Message Colour</h2>
                                                        <div class="cs-001">
                                                            <a class="wiz-img img-blue" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Blue </span></a>
                                                            <a class="wiz-img img-darkbrown" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Dark Brown </span></a>
                                                            <a class="wiz-img img-gold" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Gold </span></a>
                                                            <a class="wiz-img img-lightgreen" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Light Green </span></a>
                                                            <a class="wiz-img img-green" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Green </span></a>
                                                            <a class="wiz-img img-gray" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Grey </span></a>
                                                            <a class="wiz-img img-lightbrown" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Light Brown </span></a>
                                                            <a class="wiz-img img-lilac" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Lilac </span></a>
                                                            <a class="wiz-img img-orange" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Orange </span></a>
                                                            <a class="wiz-img img-pink" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Pink </span></a>
                                                            <a class="wiz-img img-purple" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Purple </span></a>
                                                            <a class="wiz-img img-red" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Red </span></a>
                                                            <a class="wiz-img img-silver" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Silver </span></a>
                                                            <a class="wiz-img img-sky" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Sky </span></a>
                                                            <a class="wiz-img img-yellow" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Yellow </span></a>
                                                            <a class="wiz-img img-violet" href="javascript:;"><span class="img">&nbsp;</span><span class="name"> Violet </span></a>
                                                             <a class="wiz-img img-white" id="whiteText" href="javascript:;"><span class="img">&nbsp;</span><span class="name"> White </span></a>
                                                    </div>
                                                    </div>
                                                </div> 

                                                  <div class="disable-cakeType">
                                                    <div class="box-typ9 pd15 clearfix">
                                                        <h2 class="hd-typ2 f-gray1">Would you like to add candles?</h2>

                                               <a title="Regular Candles" id="CandlesR" class="wiz-img img-candles" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Pack of Regular 2" Candles <span class="red">($1.75 each)</span></span></a>
                                                        <a title="Novelty Candles" id="CandlesN" class="wiz-img img-noveltycandles" href="javascript:;"><span class="img">&nbsp;</span><span class="name">Novelty Candles</span></a>

                                                    </div>
                                                </div>
                                                  <div class="disable-cakeType">
                                                    <div class="box-typ9 pd15 clearfix">
                                                        <h2 class="hd-typ2 f-gray1">You can also upload an image – extra £10</h2>
                                                            <span class="tooltip-typ1 tooltip crv box-typ11">
                                                                <span class="tip-data">
                                                                    The image will be printed on to the icing with edible colour.Please ensure that the image is uploaded from your computer and not via link from the internet and also ensure that the picture is in JPEG or similar format.
                                                                </span>
                                                            </span>
                                                            <div class="mrg10-T">
                                                            <span id="spnAddImg">
                                                                Please upload an image <input type="button" class="addbtn btn3" title="Add Image" onclick="return setImage(1)" id="btnUpload" value="ADD"> 
                                                            </span>
                                                            <br>
                                                                                                    
                                                            <span><img alt="Uploaded Image" style="display:none;vertical-align:bottom;" src="" id="imgUploadedImage"></span>
                                                            <input type="button" title="Remove Image" class="btn3 removebtn" style="display:none;vertical-align:bottom;" id="btnRemove">
                                                            <input type="hidden" value="" id="hdnRootUrl">                                   
                                                             
                                                              <input type="hidden" id="hdnImagePath" name="hdnImagePath" value="">
                                                              
                                                            </div>

                                                    </div>
                                                </div>
                                                
                                                <div class="btn-bar box-typ13 custom-footer-btn">
                                                    <input type="button" ng-click="showContent('step4-content')" class="btn2 wiz-nextbtn" name="Next">
                                                </div>
                                    </div>
                                        <!-- Step 3 Ends Here -->

                                        <!-- Step 4 Starts Here -->
                                        
                                        <div class="step4-content" ng-show="visibleContent === 'step4-content'">
                                            <div class="box-typ9 pd15 delivery-typ1 delivery-js">
                                                <h2 class="hd-typ2">
                                                    Would you like to collect your order from nearest Sam's club or do you want us to deliver it to you?
                                                </h2>
                                                <div class="cr-typ2">
                                                    
                                                    <span class="cr-lbl"><input type="radio" onclick="displayDeliverInfo(1);" checked="checked" value="rdbCollect" name="CollectDeliver" id="rdbCollect"><label for="rdbCollect"> I’d like to collect from the bakery</label></span><br> 
                                                    <span class="cr-lbl" disabled="disabled"><input type="radio" onclick="displayDeliverInfo(2);" disabled="disabled" value="rdbDeliver" name="CollectDeliver" id="rdbDeliver"><label for="rdbDeliver"> Delivery - Coming soon</label></span>
                                                    <br> 
                                                    <br>
                                                    &nbsp;&nbsp;Please contact the bakery if you would like to make a special arrangement
                                                    
                                                    
                                                     
                                                    
                                                    <input type="hidden" value="0" id="hdnDelivery" name="hdnDelivery">
                                                </div>
                                            
                                            </div>
                                              <div class="box-typ9 pd15 delivery-typ4 delivery-js3">
                                                                                        <h2 class="hd-typ2 mrg5-B">Collection</h2>
                                                                                        Which Club do you want to collect from?<br>
                                                                                        
                                                                                        <select style="width:250px;" class="frm-txtbox mrg5-T" onchange="setBakery()" id="ddlCollectBakery" name="ddlCollectBakery">
                                                <option value="0">Concord</option>
                                                <option value="1">Vacaville, CA</option>
                                                <option value="2">Sacramento, CA </option>
                                                <option value="3">Vacaville, CA</option>

                                            </select>
                                            <input type="hidden" value="" id="hdnCollectBakery" name="hdnCollectBakery">

                                                    <ul class="frm-data">

                                                        <li>
                                                            <label class="lbl"><span style="color:Red">*</span>&nbsp;Collection date</label>
                                                            <div class="fields">
                                                                <!--<input type="text" style="width:150px;" class="frm-txtbox" onblur="setDate()" title="Collection Date" id="txtCollectionDate" name="txtCollectionDate">                                                              -->
                                                                
                                                                <input type="date" value="javascript: show_calendar('frmWizard.txtCollectionDate', 'frmWizard.txtCollectionDate', '2', '2016', 'DD/MM/YYYY','setDate()');" id="hdnDate" style="width:200px;">
                                                                
                                                                <!--<a class="icon ico-calender" id="dtCollection" href="javascript: show_calendar('frmWizard.txtCollectionDate', 'frmWizard.txtCollectionDate', '2', '2016', 'DD/MM/YYYY','setDate()');;"></a>-->
                                                                
                                                                <input type="hidden" value="16/03/2016" id="hdnNow" name="hdnNow">                                                                                                                              
                                                                <div id="divColerr" style="display:none"><font color="red"> Collection date cannot be past date </font></div>
                                                                <div id="divColerr2" style="display:none"><font color="red"> Shops are closed on 25 Dec and 1 Jan </font></div>
                                                                <input type="hidden" value="16/03/2016" id="hdnCollectionDt" name="hdnCollectionDt">
                                                                <span style="display:none" id="spanCdate" class="icon ico-mandatory">*</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <label class="lbl"><span style="color:Red">*</span>&nbsp;Collection time</label>
                                                            <div class="fields">
                                                            <select onchange="validateAndSetCollectionTime()" id="ddlCollectTime" name="ddlCollectTime">
                                                                <option value="0" selected="selected">Select Time</option>
                                                                <option value="11:00">11:00 AM</option>
                                                                <option value="12:00">12:00 PM</option>
                                                                <option value="1:00">01:00 PM</option>
                                                                <option value="2:00">02:00 PM</option>
                                                                <option value="3:00">03:00 PM</option>
                                                                <option value="4:00">04:00 PM</option>
                                                                <option value="5:00">05:00 PM</option>
                                                                <option value="6:00">06:00 PM</option>

                                                            </select>
                                                            <span style="display:none" id="spanCTime" class="icon ico-mandatory">*</span>
                                                            <input type="hidden" value="0" id="hdnCollectionTime" name="hdnCollectionTime">
                                                             
                                                                
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <label class="lbl"><span style="color:Red">*</span>&nbsp;What occasion is the cake for</label>
                                                            <div class="fields">
                                                            <select onchange="validateAndSetOccasion()" id="ddlOccasion" name="ddlOccasion">
                                                                <option value="0" selected="selected">Select Occasion</option>
                                                                <option value="1">Birthday</option>
                                                                <option value="2">Anniversary</option>
                                                                <option value="3">Other</option>
                                                            </select>
                                                            <span style="display:none" id="spanOccasion" class="icon ico-mandatory">*</span>
                                                            <input type="hidden" value="0" id="hdnOccasion" name="hdnOccasion">
                                                            <input type="hidden" value="0" id="hdnOccasionValue" name="hdnOccasionValue">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <label class="lbl">Any additional information</label>
                                                            <div class="fields">
                                                                <textarea rows="2" cols="20" title="Additional information" onblur="javascript:textCounter()" class="frm-txtbox" id="txtCollectionAddInfo" style="width:275px;"></textarea>                                                                
                                                                <input type="hidden" value="" id="hdnCollectionAddInfo" name="hdnCollectionAddInfo">
                                                            </div>
                                                        </li>
                                                        
                                                        
                                                    </ul>

                                        </div>              
                                        
                                        <div class="btn-bar box-typ13 custom-footer-btn">
                                                <input type="button" ng-click="showContent('step5-content')" class="btn2 wiz-nextbtn" name="Next">
                                            </div>
                                            
                                </div>
                                        <!-- Step 4 Ends Here -->


                                <div class="step5-content" ng-show="visibleContent === 'step5-content'">
                                <!--    <div class="step5-content">-->
                                        <!--<div class="btn-bar box-typ13 custom-footer-btn">
                                                <input type="button" class="btn2 wiz-nextbtn" name="Submit">Submit</input>
                                        </div>-->
                                        <div class="row">
                                            <p>Your Order Details</p>
                                        </div>
                                        <div id="step5FinalContent"></div>
                                        <div class="btn-bar box-typ13 custom-footer-btn">
                                            <button class="btn waves-effect waves-light right submit-btn-custom" onclick="Materialize.toast('<span>Order Submitted Successfully</span>', 2000)" type="submit" name="action" ng-click="submitCakeOrder()">Submit your Order
                                                <i class="mdi-content-send right"></i>
                                            </button>
                                        </div>
                                </div>
                                
                                        </div>


                                        <!--<div class="btn-bar box-typ13">
                                            <input type="button" style="display:none;" id="btnClickhere" title="Click Here for More Information" class="btn2 wiz-clickbtn" name="click">
                                            <input type="button" id="btnNextpn2" class="btn2 wiz-nextbtn" name="Next">
 
                                        </div>-->

                                    </div>






                                    <div class="custom-list" id="customList">
                                            <div class="cake-img css-custom-img"><img alt="" class="cake-shape" src="images/sc_cake_decor_starwars2.png"></div>
                                            <div class="section-block clearfix css-custom-img" >
                                                <p>Cake colours, images and layout are for illustration ONLY. 
All our cakes are hand finished so the final product may vary.</p>

                                          </div>

    

  
       

                                              <div class="cksteps-1" ng-show="step2Active === 'active-steps'">
                                                 <div class="section-block highlite clearfix">
                                                     <div class="section-cknm"><span class="cknm">Shape, Size & Type</span> <span class="value">$24.00</span></div>
                                                </div>


                                                <div class="section-block clearfix">
                                                     <div class="section-cknmprop"><span class="cknmprop" >Shape</span> <span class="prop">{{selectedSpec.shape.name}}</span></div>

                                                     <div class="section-cknmprop"><span class="cknmprop">Type</span> <span class="prop">{{selectedSpec.type.name}}</span></div>

                                                     <div class="section-cknmprop"><span class="cknmprop">Size</span> <span class="prop">{{selectedSpec.size.image}} - serves {{selectedSpec.size.portion}}</span></div>

                                                </div>
                                                
                                            </div>
                                             

                                          <!-- Step-2 RightH starts -->

                                       <div class="cksteps-2" ng-show="step3Active === 'active-steps'">
                                                 <div class="section-block highlite clearfix">
                                                     <div class="section-cknm"><span class="cknm">Flavours</span> <span class="value">$5.00</span></div>
                                                </div>


                                                <div class="section-block clearfix">
                                                     <div class="section-cknmprop"><span class="cknmprop">Sponge</span> <span class="prop">Vanilla</span></div>

                                                      <div class="section-cknmprop"><span class="cknmprop">Egg / Eggless</span> <span class="prop">With Eggs</span></div>

                                                     <div class="section-cknmprop"><span class="cknmprop">Fillings</span> <span class="prop">White Fresh Cream</span></div>
                                                    <div class="section-cknmprop"><span class="cknmprop">Topping</span> <span class="prop">Mixed Choc Decoration</span></div>

                                                </div>
                                            </div>
                                            <!-- Step-2 RightH Ends -->
                                          <!-- Step-3 RightH starts -->
                                              <div class="cksteps-1" ng-show="step4Active === 'active-steps'">
                                                 <div class="section-block highlite clearfix">
                                                     <div class="section-cknm"><span class="cknm">Decoration</span> <span class="value">$5.00</span></div>
                                                </div>


                                                <div class="section-block clearfix">
                                                     <div class="section-cknmprop"><span class="cknmprop">Decoration:</span> <span class="prop">Satin Ribbon</span></div>

                                                      <div class="section-cknmprop"><span class="cknmprop">Colour:</span> <span class="prop">Light Green Ribbon</span></div>

                                                     <div class="section-cknmprop"><span class="cknmprop">Message:</span> <span class="prop">Happy Birthday</span></div>
                                                      <div class="section-cknmprop"><span class="cknmprop">Pack of Regular 2" Candles:</span> <span class="prop">Qty : 1
Colour : Blue</span></div>

                                                    <div class="section-cknmprop"><span class="cknmprop">Novelty Candles:</span> <span class="prop">Colour : Blue</span></div>

                                                </div>
                                                
                                                <div class="section-block clearfix">
                                                     <div class="section-cknm sub-total"><span class="cknm">Admin Fee</span> <span class="value">$1.50</span></div>
                                                     <div class="section-cknm sub-total"><span class="cknm">Total</span> <span class="value">$35.50</span></div>
                                                </div>

                                                <div class="section-block clearfix">
                                                    <p>ALLERGY WARNING: Traces of nuts may be found in the cake</p>
                                                </div>
                                                
                                            </div>
                                            <!-- Step-3 RightH Ends -->  
                                            
                                            <!-- Step-4 Starts here -->
                                            <!-- Step-4 Ends here -->                                        

                                            

                                    </div>
                                    

                                    </div>


                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                    
                <!--end container-->
            </section>
            <!-- END CONTENT -->